<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Picker</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-list>
      <ui-list-item>
        <ui-list-inner>
          <div>请选择地区</div>
          <div class="ui-text-right ui-clearfix">
            <ui-picker [data]="data" (change)="change($event)" placeholder="请选择地区">
              <div>{{result}}</div>
            </ui-picker>
          </div>
        </ui-list-inner>
      </ui-list-item>
    </ui-list>

  </ui-content>
</ui-page>