<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Router</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <div class="container">
      <h3>通过 routerLink 去子页面</h3>
      <p>
        <button type="button" class="btn btn-block btn-primary" routerLink="../child">点我去子页面</button>
      </p>
      <h3>通过 Router.navigate() 去子页面</h3>
      <p>
        <button type="button" class="btn btn-block btn-primary" (click)="goToPage()">点我去子页面</button>
      </p>
    </div>
  </ui-content>
</ui-page>
