<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>List</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <h3 class="container">普通列表</h3>
      <ui-list>
        <ui-list-item>
          <ui-list-inner>list1</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>list2</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>list3</ui-list-inner>
        </ui-list-item>
      </ui-list>
      <h3 class="container">带导航的列表</h3>
      <ui-list>
        <button type="button" class="ui-list-item">
          <ui-list-inner>list1</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item">
          <ui-list-inner>list2</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item">
          <ui-list-inner>list3</ui-list-inner>
        </button>
      </ui-list>
      <h3 class="container">带缩略图的列表1</h3>
      <ui-list>
        <ui-list-item>
          <ui-list-thumbnail>
            <img src="../../../../assets/icons/Apple-Music.png" alt="">
          </ui-list-thumbnail>
          <ui-list-inner>
            <div>list1</div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <img src="../../../../assets/icons/Apple-Watch.png" alt="">
          </ui-list-thumbnail>
          <ui-list-inner>
            <div>list2</div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <img src="../../../../assets/icons/AppStore.png" alt="">
          </ui-list-thumbnail>
          <ui-list-inner>
            <div>list3</div>
          </ui-list-inner>
        </ui-list-item>
      </ui-list>
      <h3 class="container">带缩略图的列表2</h3>
      <ui-list>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-thumbnail>
              <img src="../../../../assets/icons/Calculator.png" alt="">
            </ui-list-thumbnail>
            <div>list1</div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-thumbnail>
              <img src="../../../../assets/icons/Camera.png" alt="">
            </ui-list-thumbnail>
            <div>list2</div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-thumbnail>
              <img src="../../../../assets/icons/Compass.png" alt="">
            </ui-list-thumbnail>
            <div>list3</div>
          </ui-list-inner>
        </ui-list-item>
      </ui-list>
      <h3 class="container">带侧滑删除的列表</h3>
      <ui-list>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../../../assets/icons/Calculator.png" alt="">
              </ui-list-thumbnail>
              <div>list1</div>
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" class="btn btn-success">关注</button>
              <button type="button" class="btn btn-danger">删除</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../../../assets/icons/Facetime.png" alt="">
              </ui-list-thumbnail>
              <div>list2</div>
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" class="btn btn-success">关注</button>
              <button type="button" class="btn btn-danger">删除</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../../../assets/icons/Game-Center.png" alt="">
              </ui-list-thumbnail>
              <div>list3</div>
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" class="btn btn-success">关注</button>
              <button type="button" class="btn btn-danger">删除</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
      </ui-list>
    </ui-scroll>
  </ui-content>
</ui-page>
