<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Collection-tab</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll-tab [index]="tabIndex" (change)="setViewIndex($event)">
      <ui-scroll-tab-button>tab1</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab2</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab3</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab4</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab5</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab6</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab7</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab8</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab9</ui-scroll-tab-button>
      <ui-scroll-tab-button>tab10</ui-scroll-tab-button>
    </ui-scroll-tab>
    <ui-collection [index]="viewIndex" (sliding)="setTabIndex($event)">
      <ui-collection-item>第一页</ui-collection-item>
      <ui-collection-item>第二页</ui-collection-item>
      <ui-collection-item>第三页</ui-collection-item>
      <ui-collection-item>第四页</ui-collection-item>
      <ui-collection-item>第五页</ui-collection-item>
      <ui-collection-item>第六页</ui-collection-item>
      <ui-collection-item>第七页</ui-collection-item>
      <ui-collection-item>第八页</ui-collection-item>
      <ui-collection-item>第九页</ui-collection-item>
      <ui-collection-item>第十页</ui-collection-item>
    </ui-collection>
  </ui-content>
</ui-page>
