<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>ModelValidator</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <p class="ui-container">当获取验证码时，需要先校验手机号码</p>
    <form novalidate [uiValidateForm]="form" #form="ngForm" (ngSubmit)="submit()">
      <ui-list>
        <ui-list-item>
          <ui-list-thumbnail>手机号码：</ui-list-thumbnail>
          <ui-list-inner>
            <div>
              <input type="text"
                     #mobilePhone="ngModel"
                     [(ngModel)]="data.mobilePhone"
                     required
                     minlength="3"
                     name="name">
              <p class="ui-color-danger" *ngIf="mobilePhone.errors && (mobilePhone.dirty || mobilePhone.touched)">
                <span *ngIf="mobilePhone.errors.required">必填项不能为空</span>
                <span *ngIf="mobilePhone.errors.minlength">至少输入3个字符</span>
              </p>
            </div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <div>
              <button class="ui-btn ui-btn-primary" type="button" [uiValidateModel]="mobilePhone">点击获取验证码</button>
            </div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>密码：</ui-list-thumbnail>
          <ui-list-inner>
            <div>
              <input type="text"
                     class="form-control"
                     #verifyCode="ngModel"
                     [(ngModel)]="data.verifyCode"
                     required
                     minlength="8"
                     name="verifyCode">
              <p class="ui-color-danger" *ngIf="verifyCode.errors && (verifyCode.dirty || verifyCode.touched)">
                <span *ngIf="verifyCode.errors.required">必填项不能为空</span>
                <span *ngIf="verifyCode.errors.minlength">至少输入8个字符</span>
              </p>
            </div>
          </ui-list-inner>
        </ui-list-item>
      </ui-list>
      <p class="ui-container">
        <button type="submit" class="ui-btn ui-btn-primary ui-btn-block">提交</button>
      </p>
    </form>
  </ui-content>
</ui-page>
