<doc-loader>
  <ui-page>
    <ui-header>
      <ui-navbar>
        <ui-title>Collection-tab</ui-title>
      </ui-navbar>
    </ui-header>
    <ui-content>
      <div class="tabs">
        <div class="btns">
          <button type="button" (click)="setTabIndex(0)">tab1</button>
          <button type="button" (click)="setTabIndex(1)">tab2</button>
          <button type="button" (click)="setTabIndex(2)">tab3</button>
          <button type="button" (click)="setTabIndex(3)">tab4</button>
        </div>
        <div class="tab-line" [ngStyle]="{transform: 'translateX('+left+'%)'}"></div>
      </div>
      <ui-collection [index]="index" (sliding)="updateLine($event)" (slidingFinish)="updateLine($event)">
        <ui-collection-item>第一页</ui-collection-item>
        <ui-collection-item>第二页</ui-collection-item>
        <ui-collection-item>第三页</ui-collection-item>
        <ui-collection-item>第四页</ui-collection-item>
      </ui-collection>
    </ui-content>
  </ui-page>
</doc-loader>