<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>首页</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <ui-slide>
        <ui-slide-item>1</ui-slide-item>
        <ui-slide-item>2</ui-slide-item>
      </ui-slide>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../intro">
          <ui-list-inner>简介</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../start">
          <ui-list-inner>准备工作</ui-list-inner>
        </button>
      </ui-list>
    </ui-scroll>
  </ui-content>
</ui-page>