<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>首页</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <ui-slide>
        <ui-slide-item>1</ui-slide-item>
        <ui-slide-item>2</ui-slide-item>
      </ui-slide>
      <ui-list-header>UIComponentsModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../components/action-sheet">
          <ui-list-inner>弹出层</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/alert">
          <ui-list-inner>弹出窗</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/collection">
          <ui-list-inner>全屏滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/collection-tab">
          <ui-list-inner>tab滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/confirm">
          <ui-list-inner>对话框</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/life-cycle">
          <ui-list-inner>生命周期</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/list">
          <ui-list-inner>列表</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/refresh">
          <ui-list-inner>上拉加载/下拉刷新</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/router">
          <ui-list-inner>路由</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/scroll">
          <ui-list-inner>内容滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/slide">
          <ui-list-inner>轮播图</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/tab">
          <ui-list-inner>Tab</ui-list-inner>
        </button>
      </ui-list>
      <ui-list-header>UIDirectivesModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../directives">
          <ui-list-inner>uiStopPropagation</ui-list-inner>
        </button>
      </ui-list>
      <ui-list-header>UIFormsModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../forms/button">
          <ui-list-inner>按扭</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/checkbox">
          <ui-list-inner>Checkbox</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/form-validator">
          <ui-list-inner>uiFormValidator</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/model-validator">
          <ui-list-inner>uiModelValidator</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/radio">
          <ui-list-inner>Radio</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/range">
          <ui-list-inner>Range</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/select">
          <ui-list-inner>Select</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/switch">
          <ui-list-inner>Switch</ui-list-inner>
        </button>
      </ui-list>
    </ui-scroll>
  </ui-content>
</ui-page>
