<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>首页</ui-title>
      <ui-buttons>
        v0.0.1-alpha.6
      </ui-buttons>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <ui-slide>
        <ui-slide-item>
          <img src="../../assets/banners/banner1.png">
        </ui-slide-item>
        <ui-slide-item>
          <img src="../../assets/banners/banner2.png">
        </ui-slide-item>
      </ui-slide>
      <ui-list-header>UIComponentsModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../components/action-sheet">
          <ui-list-thumbnail>
            <span class="ic-action-sheet"></span>
          </ui-list-thumbnail>
          <ui-list-inner>弹出层</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/alert">
          <ui-list-thumbnail>
            <span class="ic-alert"></span>
          </ui-list-thumbnail>
          <ui-list-inner>弹出窗</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/confirm">
          <ui-list-thumbnail>
            <span class="ic-confirm"></span>
          </ui-list-thumbnail>
          <ui-list-inner>对话框</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/collection">
          <ui-list-thumbnail>
            <span class="ic-scroll-tab"></span>
          </ui-list-thumbnail>
          <ui-list-inner>全屏滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/collection-tab">
          <ui-list-thumbnail>
            <span class="ic-tab"></span>
          </ui-list-thumbnail>
          <ui-list-inner>tab滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/life-cycle">
          <ui-list-thumbnail>
            <span class="ic-life"></span>
          </ui-list-thumbnail>
          <ui-list-inner>生命周期</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/list">
          <ui-list-thumbnail>
            <span class="ic-list"></span>
          </ui-list-thumbnail>
          <ui-list-inner>列表</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/refresh">
          <ui-list-thumbnail>
            <span class="ic-refresh"></span>
          </ui-list-thumbnail>
          <ui-list-inner>上拉加载/下拉刷新</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/router">
          <ui-list-thumbnail>
            <span class="ic-link"></span>
          </ui-list-thumbnail>
          <ui-list-inner>路由</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/scroll">
          <ui-list-thumbnail>
            <span class="ic-scroll"></span>
          </ui-list-thumbnail>
          <ui-list-inner>内容滚动</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/slide">
          <ui-list-thumbnail>
            <span class="ic-slide"></span>
          </ui-list-thumbnail>
          <ui-list-inner>轮播图</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../components/tab">
          <ui-list-thumbnail>
            <span class="ic-tab1"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Tab</ui-list-inner>
        </button>
      </ui-list>
      <ui-list-header>UIDirectivesModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../directives">
          <ui-list-thumbnail>
            <span class="ic-bubble"></span>
          </ui-list-thumbnail>
          <ui-list-inner>uiStopPropagation</ui-list-inner>
        </button>
      </ui-list>
      <ui-list-header>UIFormsModule</ui-list-header>
      <ui-list>
        <button type="button" class="ui-list-item" routerLink="../forms/button">
          <ui-list-thumbnail>
            <span class="ic-Button"></span>
          </ui-list-thumbnail>
          <ui-list-inner>按扭</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/checkbox">
          <ui-list-thumbnail>
            <span class="ic-checkbox"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Checkbox</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/picker">
          <ui-list-thumbnail>
            <span class="ic-picker"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Picker</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/radio">
          <ui-list-thumbnail>
            <span class="ic-radio"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Radio</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/range">
          <ui-list-thumbnail>
            <span class="ic-range"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Range</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/select">
          <ui-list-thumbnail>
            <span class="ic-select"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Select</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/switch">
          <ui-list-thumbnail>
            <span class="ic-switch"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Switch</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/date">
          <ui-list-thumbnail>
            <span class="ic-date"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Date</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/segment">
          <ui-list-thumbnail>
            <span class="ic-segment"></span>
          </ui-list-thumbnail>
          <ui-list-inner>Segment</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/form-validator">
          <ui-list-thumbnail>
            <span class="ic-validator"></span>
          </ui-list-thumbnail>
          <ui-list-inner>uiFormValidator</ui-list-inner>
        </button>
        <button type="button" class="ui-list-item" routerLink="../forms/model-validator">
          <ui-list-thumbnail>
            <span class="ic-model"></span>
          </ui-list-thumbnail>
          <ui-list-inner>uiModelValidator</ui-list-inner>
        </button>
      </ui-list>
    </ui-scroll>
  </ui-content>
</ui-page>
