<doc-loader>
  <ui-page>
    <ui-header>
      <ui-navbar>
        <ui-title>Slide</ui-title>
      </ui-navbar>
    </ui-header>
    <ui-content>
      <ui-slide>
        <ui-slide-item>
          <img src="../../../assets/banners/1.jpg" alt="">
        </ui-slide-item>
        <ui-slide-item>
          <img src="../../../assets/banners/2.jpg" alt="">
        </ui-slide-item>
        <ui-slide-item>
          <img src="../../../assets/banners/3.jpg" alt="">
        </ui-slide-item>
      </ui-slide>
    </ui-content>
  </ui-page>
</doc-loader>