<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Scroll</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll class="ui-container">
      <h3>项目起源</h3>
      <p>因为我所在公司大多项目都是移动端的项目，但传统 webview 内嵌网页，在视觉和交互上总有一种不舒服的感觉，而且移动端很多交互都是类似的，所在，在将近半年时间内，我花了大部分业余时间，开发了
        @tanbo/ui-native。</p>
      <p>这套框架封装了移动端常用的功能，如：转场动画、侧滑返回、上拉加载、下拉刷新等。</p>
      <p>经过大半年的开发，项目基本趋于稳定，为了防止自己遗忘，也想把这套框架分享给大家。</p>
      <p>我并不是大神，只是兴趣使然，所以，框架难免有功能不完善、设计不优雅的地方，也请有兴趣的朋友，批评指正。</p>
      <h3>关于 @tanbo/ui-native 和 ionic</h3>
      <p>在我开发 @tanbo/ui-native 之前，曾用过 ionic2 开发过两个项目，ionic
        无疑是一个功能非常完善的框架，能为我们开发省不少工作量，但定制性相对差一些，并且不支持浏览器路由功能，每次改一下代码，刷新后，都会回到首页。当页面比较深的时候，无疑会让开发体验下降不少。</p>
      <p>所以我在开发之初，就设想，能不能既能支持页面跳转的转场动画，也能支持浏览器的路由功能，在只熟悉 angular 的基础上，即可很快的开发出移动端的应用。为此，我封装了路由功能，当然，你在使用过程中并不需要关心它。原来
        angular 怎么配置路由，在使用 @tanbo/ui-native 时，一样的使用。</p>
    </ui-scroll>
  </ui-content>
</ui-page>
