<doc-loader>
  <ui-page>
    <ui-header>
      <ui-navbar>
        <ui-title>Collection</ui-title>
      </ui-navbar>
    </ui-header>
    <ui-content>
      <ui-collection
              (sliding)="sliding($event)"
              (slidingFinish)="slidingFinish($event)"
              [vertical]="false"
              [index]="0">
        <ui-collection-item>第一页</ui-collection-item>
        <ui-collection-item>第二页</ui-collection-item>
        <ui-collection-item>第三页</ui-collection-item>
      </ui-collection>
    </ui-content>
  </ui-page>
</doc-loader>