<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>FormValidator</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <form novalidate [uiValidateForm]="form" #form="ngForm" (ngSubmit)="submit()">
      <ui-list>
        <ui-list-item>
          <ui-list-thumbnail>姓名：</ui-list-thumbnail>
          <ui-list-inner>
            <div><input type="text"
                        class="form-control"
                        #name="ngModel"
                        [(ngModel)]="data.name"
                        required
                        minlength="3"
                        name="name">
              <div class="color-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                <span *ngIf="name.errors.required">必填项不能为空</span>
                <span *ngIf="name.errors.minlength">至少输入3个字符</span>
              </div>
            </div>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>密码：</ui-list-thumbnail>
          <ui-list-inner>
            <div>
              <div><input type="text"
                          class="form-control"
                          #password="ngModel"
                          [(ngModel)]="data.password"
                          required
                          minlength="8"
                          name="password"></div>
              <div class="color-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                <span *ngIf="password.errors.required">必填项不能为空</span>
                <span *ngIf="password.errors.minlength">至少输入8个字符</span>
              </div>
            </div>
          </ui-list-inner>
        </ui-list-item>
      </ui-list>

      <p class="container">
        <button type="submit" class="btn primary btn-block">提交</button>
      </p>
    </form>
  </ui-content>
</ui-page>
