<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Switch</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll class="ui-container">
      <h3>不同风格的 Switch</h3>
      <p>
        <ui-switch class="ui-primary"></ui-switch>
        <ui-switch class="ui-info"></ui-switch>
        <ui-switch class="ui-success"></ui-switch>
        <ui-switch class="ui-danger"></ui-switch>
        <ui-switch class="ui-warning"></ui-switch>
      </p>
      <h3>是否选中 {{result}}</h3>
      <ui-switch [(ngModel)]="result" (uiChange)="show($event)"></ui-switch>
    </ui-scroll>
  </ui-content>
</ui-page>
