<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>首页</ui-back>
      <ui-title>Switch</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <div class="container">
      <h3>不同风格的 Switch</h3>
      <p>
        <ui-switch class="primary"></ui-switch>
        <ui-switch class="info"></ui-switch>
        <ui-switch class="success"></ui-switch>
        <ui-switch class="danger"></ui-switch>
        <ui-switch class="warning"></ui-switch>
      </p>
      <p style="font-size: 30px;">
        <ui-switch class="primary"></ui-switch>
        <ui-switch class="info"></ui-switch>
        <ui-switch class="success"></ui-switch>
        <ui-switch class="danger"></ui-switch>
        <ui-switch class="warning"></ui-switch>
      </p>
      <h3>是否选中 {{result}}</h3>
      <ui-switch [(ngModel)]="result"></ui-switch>
    </div>
  </ui-content>
</ui-page>
